<a id="introduction"></a>
## Introduction to cuDF
#### By Paul Hendricks
-------

In this notebook, we will show how to work with cuDF DataFrames in RAPIDS.

**Table of Contents**

* [Introduction to cuDF](#introduction)
* [Setup](#setup)
* [cuDF Series Basics](#series)
* [cuDF DataFrame Basics](#dataframes)
* [Input/Output](#io)
* [cuDF API](#cudfapi)
* [Conclusion](#conclusion)

<a id="setup"></a>
## Setup

In [1]:
!nvidia-smi

Thu Sep 22 19:24:23 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 510.47.03    Driver Version: 510.47.03    CUDA Version: 11.7     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  NVIDIA RTX A6000    On   | 00000000:2F:00.0 Off |                  Off |
| 30%   48C    P8    33W / 300W |  13140MiB / 49140MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+
|   1  NVIDIA RTX A6000    On   | 00000000:41:00.0 Off |                  Off |
| 30%   47C    P8    28W / 300W |   1445MiB / 49140MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A      2004      G                                       4MiB |
|    0   N/A  N/A    884098      C                                     919MiB |
|    0   N/A  N/A   2665873      C                                     257MiB |
|    0   N/A  N/A   2672395      C                                    3491MiB |
|    0   N/A  N/A   2672411      C                                     257MiB |
|    0   N/A  N/A   2675535      C                                     263MiB |
|    0   N/A  N/A   2708046      C                                     295MiB |
|    0   N/A  N/A   2708711      C                                     257MiB |
|    0   N/A  N/A   2757640      C                                     261MiB |
|    1   N/A  N/A      2004      G                                       4MiB |
|    1   N/A  N/A    884098      C                                     919MiB |
|    1   N/A  N/A   2708712      C                                     257MiB |
|    1   N/A  N/A   2757641      C                                     261MiB |
+-----------------------------------------------------------------------------+

Next, let's see what CUDA version we have:

In [2]:
!nvcc --version

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2022 NVIDIA Corporation
Built on Wed_Jun__8_16:49:14_PDT_2022
Cuda compilation tools, release 11.7, V11.7.99
Build cuda_11.7.r11.7/compiler.31442593_0

<a id="series"></a>
## cuDF Series Basics

First, let's load the cuDF library.

In [3]:
import cudf; print('cuDF Version:', cudf.__version__)

cuDF Version: 22.06.00a+319.g97422602b8

There are two main data structures in cuDF: a `Series` object and a `DataFrame` object. Multiple `Series` objects are used as columns for a `DataFrame`. We'll first explore the `Series` class and build upon that foundation to later introduce how to work with objects of type `DataFrame`.

We can create a `Series` object using the `cudf.Series` class.

In [4]:
column = cudf.Series([10, 11, 12, 13])
column

0    10
1    11
2    12
3    13
dtype: int64

We see from the output that `column` is an object of type `cudf.Series` and has 4 rows.

Another way to inspect a `Series` is to use the Python `print` statement.

In [5]:
print(column)

0    10
1    11
2    12
3    13
dtype: int64

We see that our `Series` object has four rows with values 10, 11, 12, and 13. We also see that the type of this data is `int64`. There are several ways to represent data using cuDF. The most common formats are `int8`, `int32`, `int64`, `float32`, and `float64`.

We also see a column of values on the left hand side with values 0, 1, 2, 3. These values represent the index of the `Series`.

<a id="dataframes"></a>
## cuDF DataFrame Basics

As we showed in the previous tutorial, cuDF DataFrames are a tabular structure of data that reside on the GPU. We interface with these cuDF DataFrames in the same way we interface with Pandas DataFrames that reside on the CPU - with a few deviations.

In the next several sections, we'll show how to create and manipulate cuDF DataFrames. For more information on using cuDF DataFrames, check out the documentation: https://docs.rapids.ai/api/cudf/stable/

In [6]:
df = cudf.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

Next, we can create two columns named `key` and `value` by using the bracket notation with the cuDF DataFrame and storing either a list of Python values or a NumPy array into that column.

In [7]:
import numpy as np; print('NumPy Version:', np.__version__)

# here we create two columns named "key" and "value"
df['key'] = [0, 1, 2, 3, 4]
df['value'] = np.arange(10, 15)
print(df)

NumPy Version: 1.22.4
   key  value
0    0     10
1    1     11
2    2     12
3    3     13
4    4     14

#### Creating a cudf DataFrame using a list of tuples or a dictionary

Another way we can create a cuDF DataFrame is by providing a mapping of column names to column values, either via a list of tuples or by using a dictionary. In the below examples, we create a list of two-value tuples; the first value is the name of the column - for example, `id` or `timestamp` - and the second value is a list of Python objects or Numpy arrays. Note that we don't have to constrain the data stored in our cuDF DataFrames to common data types like integers or floats - we can use more exotic data types such as datetimes or strings. We'll investigate how such data types behave on the GPU a bit later.

In [8]:
from datetime import datetime, timedelta


ids = np.arange(5)
t0 = datetime.strptime('2018-10-07 12:00:00', '%Y-%m-%d %H:%M:%S')
timestamps = [(t0+ timedelta(seconds=x)) for x in range(5)]
timestamps_np = np.array(timestamps, dtype='datetime64')

In [9]:
df = cudf.DataFrame()
df['ids'] = ids
df['timestamp'] = timestamps_np
print(df)

   ids           timestamp
0    0 2018-10-07 12:00:00
1    1 2018-10-07 12:00:01
2    2 2018-10-07 12:00:02
3    3 2018-10-07 12:00:03
4    4 2018-10-07 12:00:04

Alternatively, we can create a dictonary of key-value pairs, where each key in the dictionary represents a column name and each value associated with the key represents the values that belong in that column.

In [10]:
df = cudf.DataFrame({'id': ids, 'timestamp': timestamps_np})
print(df)

   id           timestamp
0   0 2018-10-07 12:00:00
1   1 2018-10-07 12:00:01
2   2 2018-10-07 12:00:02
3   3 2018-10-07 12:00:03
4   4 2018-10-07 12:00:04

#### Creating a cudf DataFrame from a Pandas DataFrame

Pandas DataFrames are a first class citizen within cuDF - this means that we can create a cuDF DataFrame from a Pandas DataFrame and vice versa.

In [11]:
import pandas as pd; print('Pandas Version:', pd.__version__)


pandas_df = pd.DataFrame({'a': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                          'b': [0.0, 0.1, 0.2, None, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]})
print(pandas_df)

Pandas Version: 1.4.3
     a    b
0    0  0.0
1    1  0.1
2    2  0.2
3    3  NaN
4    4  0.4
5    5  0.5
6    6  0.6
7    7  0.7
8    8  0.8
9    9  0.9
10  10  1.0

We can use the `cudf.from_pandas` or `cudf.DataFrame.from_pandas` functions to create a cuDF DataFrame from a Pandas DataFrame.

In [12]:
df = cudf.from_pandas(pandas_df)
# df = cudf.DataFrame.from_pandas(pandas_df)  # alternative
print(df)

     a     b
0    0   0.0
1    1   0.1
2    2   0.2
3    3  <NA>
4    4   0.4
5    5   0.5
6    6   0.6
7    7   0.7
8    8   0.8
9    9   0.9
10  10   1.0

#### Converting a cudf DataFrame to a Pandas DataFrame

We can convert a cuDF DataFrame back to a Pandas DataFrame using the `to_pandas` method.

In [13]:
pandas_df = df.to_pandas()
print(type(pandas_df))

<class 'pandas.core.frame.DataFrame'>

#### Converting a cudf DataFrame to a NumPy Array

Often we want to work with NumPy arrays. We can convert a cuDF DataFrame to a NumPy array by first converting it to a Pandas DataFrame using the `to_pandas` method followed by accessing the `values` attribute of the Pandas DataFrame.

In [14]:
numpy_array = df.to_pandas().values
print(type(numpy_array))

<class 'numpy.ndarray'>

#### Converting a cudf DataFrame to Other Data Formats

We can also convert a cuDF DataFrame to other data formats. 

For more information, see the documentation: https://docs.rapids.ai/api/cudf/stable/

<a id="io"></a>
## Input/Output

Before we process data and use it in machine learning models, we need to be able to load it into memory and write it after we're done using it. There are several ways to do this using cuDF.

#### Writing and Loading CSV Files

We can write a cuDF DataFrame to a CSV file using the `to_csv()` method.

In [15]:
df.to_csv('./dataset.csv', index=False)

Perhaps one of the most common ways to create cuDF DataFrames is by loading a table that is stored as a file on disk. cuDF provides a lot of functionality for reading in a variety of different data formats. Below, we show how easy it is to read in a CSV file:

In [16]:
df = cudf.read_csv('./dataset.csv')
print(df)

     a     b
0    0   0.0
1    1   0.1
2    2   0.2
3    3  <NA>
4    4   0.4
5    5   0.5
6    6   0.6
7    7   0.7
8    8   0.8
9    9   0.9
10  10   1.0

CSV files come in many flavors and cuDF tries to be as flexible as possible, mirroring the Pandas API wherever possible. For more information on possible parameters for working with files, see the cuDF IO documentation: 

https://docs.rapids.ai/api/cudf/stable/api.html?highlight=read_csv#cudf.io.csv.read_csv

<a id="cudfapi"></a>
## cuDF API

The cuDF API is pleasantly simple and mirrors the Pandas API as closely as possible. In this section, we will explore the cuDF API and show how to perform common data manipulation operations.

#### Selecting Rows or Columns

We can select rows from a cuDF DataFrame using slicing syntax.

In [17]:
df = cudf.DataFrame({'a': np.arange(0, 100).astype(np.float32), 
                     'b': np.arange(100, 0, -1).astype(np.float32)})

In [18]:
print(df[0:5])

     a      b
0  0.0  100.0
1  1.0   99.0
2  2.0   98.0
3  3.0   97.0
4  4.0   96.0

There are several ways to select a column from a cuDF DataFrame.

In [19]:
print(df['a'])
# print(df.a)  # alternative

0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
      ...
95    95.0
96    96.0
97    97.0
98    98.0
99    99.0
Name: a, Length: 100, dtype: float32

We can also select multiple columns by passing in a list of column names.

In [20]:
print(df[['a', 'b']])

       a      b
0    0.0  100.0
1    1.0   99.0
2    2.0   98.0
3    3.0   97.0
4    4.0   96.0
..   ...    ...
95  95.0    5.0
96  96.0    4.0
97  97.0    3.0
98  98.0    2.0
99  99.0    1.0

[100 rows x 2 columns]

We can select specific rows and columns using the slicing syntax as well as passing in a list of column names.

In [21]:
print(df.loc[0:5, ['a']])
# print(df.loc[0:5, ['a', 'b']])  # to select multiple columns, pass in multiple column names

     a
0  0.0
1  1.0
2  2.0
3  3.0
4  4.0
5  5.0

#### Defining New Columns

We often want to define new columns from existing columns.

In [22]:
df = cudf.DataFrame({'a': np.arange(0, 100).astype(np.float32), 
                     'b': np.arange(100, 0, -1).astype(np.float32), 
                     'c': np.arange(100, 200).astype(np.float32)})

In [23]:
df['d'] = np.arange(200, 300).astype(np.float32)

print(df)

       a      b      c      d
0    0.0  100.0  100.0  200.0
1    1.0   99.0  101.0  201.0
2    2.0   98.0  102.0  202.0
3    3.0   97.0  103.0  203.0
4    4.0   96.0  104.0  204.0
..   ...    ...    ...    ...
95  95.0    5.0  195.0  295.0
96  96.0    4.0  196.0  296.0
97  97.0    3.0  197.0  297.0
98  98.0    2.0  198.0  298.0
99  99.0    1.0  199.0  299.0

[100 rows x 4 columns]

In [24]:
data = np.arange(300, 400).astype(np.float32)
# df.add_column('e', data)
df['e'] = data
print(df)

       a      b      c      d      e
0    0.0  100.0  100.0  200.0  300.0
1    1.0   99.0  101.0  201.0  301.0
2    2.0   98.0  102.0  202.0  302.0
3    3.0   97.0  103.0  203.0  303.0
4    4.0   96.0  104.0  204.0  304.0
..   ...    ...    ...    ...    ...
95  95.0    5.0  195.0  295.0  395.0
96  96.0    4.0  196.0  296.0  396.0
97  97.0    3.0  197.0  297.0  397.0
98  98.0    2.0  198.0  298.0  398.0
99  99.0    1.0  199.0  299.0  399.0

[100 rows x 5 columns]

#### Dropping Columns

Alternatively, we may want to remove columns from our `DataFrame`. We can do so using the `drop_column` method. Note that this method removes a column in-place - meaning that the `DataFrame` we act on will be modified.

In [25]:
df = cudf.DataFrame({'a': np.arange(0, 100).astype(np.float32), 
                     'b': np.arange(100, 0, -1).astype(np.float32), 
                     'c': np.arange(100, 200).astype(np.float32)})

In [26]:
# df.drop_column('a')
df.drop(['a'], axis=1)
print(df)

       a      b      c
0    0.0  100.0  100.0
1    1.0   99.0  101.0
2    2.0   98.0  102.0
3    3.0   97.0  103.0
4    4.0   96.0  104.0
..   ...    ...    ...
95  95.0    5.0  195.0
96  96.0    4.0  196.0
97  97.0    3.0  197.0
98  98.0    2.0  198.0
99  99.0    1.0  199.0

[100 rows x 3 columns]

If we want to remove a column without modifying the original DataFrame, we can use the `drop` method. This method will return a new DataFrame without that column (or columns).

In [27]:
df = cudf.DataFrame({'a': np.arange(0, 100).astype(np.float32), 
                     'b': np.arange(100, 0, -1).astype(np.float32), 
                     'c': np.arange(100, 200).astype(np.float32)})

In [28]:
# new_df = df.drop('a')
new_df = df.drop(['a'], axis=1)
print('Original DataFrame:')
print(df)
print(79 * '-')
print('New DataFrame:')
print(new_df)

Original DataFrame:
       a      b      c
0    0.0  100.0  100.0
1    1.0   99.0  101.0
2    2.0   98.0  102.0
3    3.0   97.0  103.0
4    4.0   96.0  104.0
..   ...    ...    ...
95  95.0    5.0  195.0
96  96.0    4.0  196.0
97  97.0    3.0  197.0
98  98.0    2.0  198.0
99  99.0    1.0  199.0

[100 rows x 3 columns]
-------------------------------------------------------------------------------
New DataFrame:
        b      c
0   100.0  100.0
1    99.0  101.0
2    98.0  102.0
3    97.0  103.0
4    96.0  104.0
..    ...    ...
95    5.0  195.0
96    4.0  196.0
97    3.0  197.0
98    2.0  198.0
99    1.0  199.0

[100 rows x 2 columns]

We can also pass in a list of column names to drop.

In [29]:
# new_df = df.drop(['a', 'b'])
new_df = df.drop(['a', 'b'], axis=1)

print('Original DataFrame:')
print(df)
print(79 * '-')
print('New DataFrame:')
print(new_df)

Original DataFrame:
       a      b      c
0    0.0  100.0  100.0
1    1.0   99.0  101.0
2    2.0   98.0  102.0
3    3.0   97.0  103.0
4    4.0   96.0  104.0
..   ...    ...    ...
95  95.0    5.0  195.0
96  96.0    4.0  196.0
97  97.0    3.0  197.0
98  98.0    2.0  198.0
99  99.0    1.0  199.0

[100 rows x 3 columns]
-------------------------------------------------------------------------------
New DataFrame:
        c
0   100.0
1   101.0
2   102.0
3   103.0
4   104.0
..    ...
95  195.0
96  196.0
97  197.0
98  198.0
99  199.0

[100 rows x 1 columns]

#### Missing Data

Sometimes data is not as clean as we would like it - often there wrong values or values that are missing entirely. cuDF DataFrames can represent missing values using the Python `None` keyword.

In [30]:
df = cudf.DataFrame({'a': [0, None, 2, 3, 4, 5, 6, 7, 8, None, 10],
                     'b': [0.0, 0.1, 0.2, None, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0], 
                     'c': [0.0, 0.1, None, None, 0.4, 0.5, None, 0.7, 0.8, 0.9, 1.0]})
print(df)

       a     b     c
0      0   0.0   0.0
1   <NA>   0.1   0.1
2      2   0.2  <NA>
3      3  <NA>  <NA>
4      4   0.4   0.4
5      5   0.5   0.5
6      6   0.6  <NA>
7      7   0.7   0.7
8      8   0.8   0.8
9   <NA>   0.9   0.9
10    10   1.0   1.0

We can also fill in these missing values with another value using the `fillna` method. Both `Series` and `DataFrame` objects implement this method.

In [31]:
df['c'] = df['c'].fillna(999)
print(df)

       a     b      c
0      0   0.0    0.0
1   <NA>   0.1    0.1
2      2   0.2  999.0
3      3  <NA>  999.0
4      4   0.4    0.4
5      5   0.5    0.5
6      6   0.6  999.0
7      7   0.7    0.7
8      8   0.8    0.8
9   <NA>   0.9    0.9
10    10   1.0    1.0

In [32]:
new_df = df.fillna(-1)
print(new_df)

     a    b      c
0    0  0.0    0.0
1   -1  0.1    0.1
2    2  0.2  999.0
3    3 -1.0  999.0
4    4  0.4    0.4
5    5  0.5    0.5
6    6  0.6  999.0
7    7  0.7    0.7
8    8  0.8    0.8
9   -1  0.9    0.9
10  10  1.0    1.0

#### Boolean Indexing

We previously saw how we can select certain rows from our dataset by using the bracket `[]` notation. However, we may want to select rows based on a certain criteria - this is called boolean indexing. We can combine the indexing notation with an array of boolean values to select only certain rows that meet this criteria.

In [33]:
df = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                     'b': np.random.randint(2, size=100).astype(np.int32), 
                     'c': np.arange(0, 100).astype(np.int32), 
                     'd': np.arange(100, 0, -1).astype(np.int32)})

In [34]:
mask = df['a'] == 3
df[mask]

    a  b   c   d
75  3  1  75  25
76  3  0  76  24
77  3  0  77  23
78  3  1  78  22
79  3  1  79  21
80  3  1  80  20
81  3  1  81  19
82  3  0  82  18
83  3  0  83  17
84  3  1  84  16
85  3  1  85  15
86  3  0  86  14
87  3  0  87  13
88  3  0  88  12
89  3  1  89  11
90  3  0  90  10
91  3  1  91   9
92  3  0  92   8
93  3  1  93   7
94  3  1  94   6
95  3  1  95   5
96  3  0  96   4
97  3  0  97   3
98  3  1  98   2
99  3  0  99   1

#### Sorting Data

Data is often not sorted before we start to work with it. Sorting data is is very useful for optimizing operations like joins and aggregations, especially when the data is distributed.

We can sort data in cuDF using the `sort_values` method and passing in which column we want to sort by.

In [35]:
df = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                     'b': np.random.randint(2, size=100).astype(np.int32), 
                     'c': np.arange(0, 100).astype(np.int32), 
                     'd': np.arange(100, 0, -1).astype(np.int32)})
print(df.head())

   a  b  c    d
0  0  1  0  100
1  0  1  1   99
2  0  1  2   98
3  0  1  3   97
4  0  1  4   96

In [36]:
print(df.sort_values('d').head())

    a  b   c  d
99  3  0  99  1
98  3  1  98  2
97  3  1  97  3
96  3  0  96  4
95  3  1  95  5

We can also specify if the column we're sorting should be sorted in ascending or descending order by using the `ascending` argument and passing in `True` or `False`.

In [37]:
print(df.sort_values('c', ascending=False).head())

    a  b   c  d
99  3  0  99  1
98  3  1  98  2
97  3  1  97  3
96  3  0  96  4
95  3  1  95  5

We can sort by multiple columns by passing in a list of column names.

In [38]:
print(df.sort_values(['a', 'b']).head())

    a  b   c   d
6   0  0   6  94
11  0  0  11  89
14  0  0  14  86
15  0  0  15  85
19  0  0  19  81

We can also specify which of those columns should be sorted in ascending or descending order by passing in a list of boolean values, where each boolean value maps to each column, respectively.

In [39]:
print('Sort with all columns specified descending:')
print(df.sort_values(['a', 'b'], ascending=False).head())
print(79 * '-')
print('Sort with both a descending and b ascending:')
print(df.sort_values(['a', 'b'], ascending=[False, True]).head())

Sort with all columns specified descending:
    a  b   c   d
76  3  1  76  24
79  3  1  79  21
82  3  1  82  18
84  3  1  84  16
85  3  1  85  15
-------------------------------------------------------------------------------
Sort with both a descending and b ascending:
    a  b   c   d
75  3  0  75  25
77  3  0  77  23
78  3  0  78  22
80  3  0  80  20
81  3  0  81  19

#### Statistical Operations

There are several statistical operations we can use to aggregate our data in meaningful ways. These can be applied to both `Series` and `DataFrame` objects.

In [40]:
df = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                     'b': np.random.randint(2, size=100).astype(np.int32), 
                     'c': np.arange(0, 100).astype(np.int32), 
                     'd': np.arange(100, 0, -1).astype(np.int32)})

In [41]:
df['a'].sum()

150

In [42]:
print(df.sum())

a     150
b      49
c    4950
d    5050
dtype: int64

#### Series Apply Operations

While cuDF allows us to define new columns in interesting ways, we often want to work with more complex functions. We can define a function and use the `apply` method to apply this function to each value in a column in element-wise fashion. While the below example is simple, it can be very easily extended to more complex workflows.

In [43]:
df = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                     'b': np.random.randint(2, size=100).astype(np.int32), 
                     'c': np.arange(0, 100).astype(np.int32), 
                     'd': np.arange(100, 0, -1).astype(np.int32)})

In [44]:
def add_ten_to_x(x):
    return x + 10

print(df['c'].apply(add_ten_to_x))

0      10
1      11
2      12
3      13
4      14
     ...
95    105
96    106
97    107
98    108
99    109
Name: c, Length: 100, dtype: int64

#### Histogramming

We can access the value counts of a column using the `value_counts` method. Note that this is typically used with columns representing discrete data i.e. integers, strings, categoricals, etc. We may not be as interested in the value counts of numerical data e.g. how often the value 2.1 appears. The results of the `value_counts` method can be used with Python plotting libraries like Matplotlib or Seaborn to generate visualizations such as histograms.

In [45]:
df = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                     'b': np.random.randint(2, size=100).astype(np.int32), 
                     'c': np.arange(0, 100).astype(np.int32), 
                     'd': np.arange(100, 0, -1).astype(np.int32)})

In [46]:
result = df['a'].value_counts()
print(result)

0    25
2    25
3    25
1    25
Name: a, dtype: int32

#### Concatenations

In everyday data science, we typically work with multiple sources of data and wish to combine these data into a single more meaningful representation. These operations are often called concatenations and joins. We can concatenate two or more dataframes together row-wise or column-wise by passing in a list of the dataframes to be concatenated into the `cudf.concat` function and specifying the axis along which to concatenate these dataframes.

If we want to concatenate the dataframes row-wise, we can specify `axis=0`. To concatenate column-wise, we can specify `axis=1`.

In [47]:
df1 = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                      'b': np.random.randint(2, size=100).astype(np.int32), 
                      'c': np.arange(0, 100).astype(np.int32), 
                      'd': np.arange(100, 0, -1).astype(np.int32)})
df2 = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                      'b': np.random.randint(2, size=100).astype(np.int32), 
                      'c': np.arange(0, 100).astype(np.int32), 
                      'd': np.arange(100, 0, -1).astype(np.int32)})

In [48]:
df = cudf.concat([df1, df2], axis=0)
df

    a  b   c    d
0   0  1   0  100
1   0  1   1   99
2   0  1   2   98
3   0  0   3   97
4   0  1   4   96
.. .. ..  ..  ...
95  3  1  95    5
96  3  0  96    4
97  3  0  97    3
98  3  0  98    2
99  3  1  99    1

[200 rows x 4 columns]

In [49]:
df1 = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                      'b': np.random.randint(2, size=100).astype(np.int32), 
                      'c': np.arange(0, 100).astype(np.int32), 
                      'd': np.arange(100, 0, -1).astype(np.int32)})
df2 = cudf.DataFrame({'e': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                      'f': np.random.randint(2, size=100).astype(np.int32), 
                      'g': np.arange(0, 100).astype(np.int32), 
                      'h': np.arange(100, 0, -1).astype(np.int32)})

In [50]:
df = cudf.concat([df1, df2], axis=1)
df

    a  b   c    d  e  f   g    h
0   0  0   0  100  0  1   0  100
1   0  1   1   99  0  1   1   99
2   0  1   2   98  0  1   2   98
3   0  0   3   97  0  1   3   97
4   0  0   4   96  0  1   4   96
.. .. ..  ..  ... .. ..  ..  ...
95  3  0  95    5  3  0  95    5
96  3  0  96    4  3  1  96    4
97  3  0  97    3  3  1  97    3
98  3  1  98    2  3  0  98    2
99  3  1  99    1  3  0  99    1

[100 rows x 8 columns]

#### Joins / Merges

Multiple dataframes can be joined together using a single (or multiple) column(s). There are two syntaxes for performing joins:

* One can use the `DataFrame.merge` method and pass in another dataframe to join, or
* One can use the `cudf.merge` function and pass in which dataframes to join.

Both syntaxes can also be passed a list of column names to an additional keyword argument `on` - this will specify which columns the dataframes should be joined on. If this keyword is not specified, cuDF will by default join using column names that appear in both dataframes.

In [51]:
df1 = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                      'b': np.random.randint(2, size=100).astype(np.int32), 
                      'c': np.arange(0, 100).astype(np.int32), 
                      'd': np.arange(100, 0, -1).astype(np.int32)})
df2 = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                      'b': np.random.randint(2, size=100).astype(np.int32), 
                      'e': np.arange(0, 100).astype(np.int32), 
                      'f': np.arange(100, 0, -1).astype(np.int32)})

In [52]:
df = df1.merge(df2)
print(df.head())

   a  b   c   d   e   f
0  1  0  48  52  48  52
1  1  0  48  52  27  73
2  1  0  48  52  49  51
3  1  0  48  52  35  65
4  1  0  49  51  48  52

In [53]:
df = df1.merge(df2, on=['a'])
print(df.head())

   a  b_x   c   d  b_y   e   f
0  3    1  80  20    0  80  20
1  3    1  80  20    0  82  18
2  3    1  80  20    1  81  19
3  3    1  80  20    0  83  17
4  3    0  81  19    0  80  20

In [54]:
df = df1.merge(df2, on=['a', 'b'])
print(df.head())

   a  b   c   d   e   f
0  1  0  32  68  35  65
1  1  0  32  68  40  60
2  1  0  32  68  37  63
3  1  0  32  68  42  58
4  1  0  33  67  35  65

In [55]:
df = cudf.merge(df1, df2)
print(df.head())

   a  b   c   d   e   f
0  1  0  32  68  35  65
1  1  0  32  68  40  60
2  1  0  32  68  37  63
3  1  0  32  68  42  58
4  1  0  33  67  35  65

In [56]:
df = cudf.merge(df1, df2, on=['a'])
print(df.head())

   a  b_x   c   d  b_y   e   f
0  3    1  80  20    0  80  20
1  3    1  80  20    0  82  18
2  3    1  80  20    1  81  19
3  3    1  80  20    0  83  17
4  3    0  81  19    0  80  20

In [57]:
df = cudf.merge(df1, df2, on=['a', 'b'])
print(df.head())

   a  b   c   d   e   f
0  1  0  32  68  35  65
1  1  0  32  68  37  63
2  1  0  32  68  27  73
3  1  0  32  68  40  60
4  1  0  33  67  35  65

#### Groupbys

A useful operation when working with datasets is to group the data using a specific key and aggregate the values mapping to those keys. For example, we might want to aggregate multiple temperature measurements taken during a day from a specific sensor and average those measurements to find avergage daily temperature at a specific geolocation.

cuDF allows us to perform such an operation using the `groupby` method. This will create an object of type `cudf.groupby.groupby.Groupby` that we can operate on using aggregation functions such as `sum`, `var`, or complex aggregation functions defined by the user.

We can also specify multiple columns to group on by passing a list of column names to the `groupby` method.

In [58]:
df = cudf.DataFrame({'a': np.repeat([0, 1, 2, 3], 25).astype(np.int32), 
                     'b': np.random.randint(2, size=100).astype(np.int32), 
                     'c': np.arange(0, 100).astype(np.int32), 
                     'd': np.arange(100, 0, -1).astype(np.int32)})
print(df.head())

   a  b  c    d
0  0  0  0  100
1  0  0  1   99
2  0  1  2   98
3  0  0  3   97
4  0  1  4   96

In [59]:
grouped_df = df.groupby('a')
grouped_df

In [60]:
aggregation = grouped_df.sum()
print(aggregation)

    b     c     d
a
0  14   300  2200
2  15  1550   950
3  14  2175   325
1   9   925  1575

In [61]:
aggregation = df.groupby(['a', 'b']).sum().to_pandas()
print(aggregation)

        c     d
a b
1 1   352   548
  0   573  1027
0 0   100  1000
2 1   940   560
0 1   200  1200
2 0   610   390
3 1  1214   186
  0   961   139

#### One Hot Encoding

Data scientists often work with discrete data such as integers or categories. However, this data can be represented using a One Hote Encoding format.

cuDF allows us to convert these discrete datas to a One Hot Encoding format using the `one_hot_encoding` method. We can pass this method the column name to convert, a prefix with which to prepend to each newly created column, and the categories of data to create new columns for. We can pass in all the categories in the discrete data or a subset - cuDF will flexibly handle both and only create new columns for the categories specified.

In [62]:
categories = [0, 1, 2, 3]
df = cudf.DataFrame({'a': np.repeat(categories, 25).astype(np.int32), 
                     'b': np.arange(0, 100).astype(np.int32), 
                     'c': np.arange(100, 0, -1).astype(np.int32)})
print(df.head())

   a  b    c
0  0  0  100
1  0  1   99
2  0  2   98
3  0  3   97
4  0  4   96

In [63]:
result = cudf.get_dummies(df, columns='a', prefix='a_', cats=categories)
print(result.head())
print(result.tail())

   b    c  a__0  a__1  a__2  a__3
0  0  100     1     0     0     0
1  1   99     1     0     0     0
2  2   98     1     0     0     0
3  3   97     1     0     0     0
4  4   96     1     0     0     0
     b  c  a__0  a__1  a__2  a__3
95  95  5     0     0     0     1
96  96  4     0     0     0     1
97  97  3     0     0     0     1
98  98  2     0     0     0     1
99  99  1     0     0     0     1

In [64]:
result = cudf.get_dummies(df, columns='a', prefix='a_', cats=[0, 1, 2])
print(result.head())
print(result.tail())

   b    c  a__0  a__1  a__2  a__3
0  0  100     1     0     0     0
1  1   99     1     0     0     0
2  2   98     1     0     0     0
3  3   97     1     0     0     0
4  4   96     1     0     0     0
     b  c  a__0  a__1  a__2  a__3
95  95  5     0     0     0     1
96  96  4     0     0     0     1
97  97  3     0     0     0     1
98  98  2     0     0     0     1
99  99  1     0     0     0     1

<a id="conclusion"></a>
## Conclusion

In this notebook, we showed how to work with cuDF DataFrames in RAPIDS.

To learn more about RAPIDS, be sure to check out: 

* [Open Source Website](http://rapids.ai)
* [GitHub](https://github.com/rapidsai/)
* [Press Release](https://nvidianews.nvidia.com/news/nvidia-introduces-rapids-open-source-gpu-acceleration-platform-for-large-scale-data-analytics-and-machine-learning)
* [NVIDIA Blog](https://blogs.nvidia.com/blog/2018/10/10/rapids-data-science-open-source-community/)
* [Developer Blog](https://devblogs.nvidia.com/gpu-accelerated-analytics-rapids/)
* [NVIDIA Data Science Webpage](https://www.nvidia.com/en-us/deep-learning-ai/solutions/data-science/)